.comments_wrapper {
    display: flex;
    justify-content: end;

    .comments_icon_wrapper {
        display: flex;
        gap: 4px;
        width: max-content;
    }

    .comments_icon_wrapper:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}