@import '../../../styles/variables.scss';

.comments_wrapper {
    flex-grow: 1;
    height: 0;
    overflow-x: auto;
    padding: 0 10px;
    padding-right: 30px;

    h4 {
        font-weight: 400;
        margin: 0;
        text-align: center;
    }

    .load_more_comments_btn {
        font-size: .8rem;
        margin-left: 10px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.comment_box_wrapper {
    display: flex;
    margin: 5px 5px 0 5px;
    gap: 4px;

    .comment_content_wrapper {
        display: flex;
        flex-direction: column;
        gap: 3px;

        .comment_content_box_wrapper {
            display: flex;
            align-items: center;
            gap: 5px;

            .comment_content_box {
                box-shadow: 0px 0px 2px #000;
                padding: 5px;
                border-radius: 15px;
                min-width: 200px;

                h5 {
                    font-weight: 500;
                    margin: 0;
                    margin-bottom: -3px;
                }

                p {
                    margin: 0;
                    font-size: .8rem;
                    white-space: pre-wrap;
                    overflow-wrap: break-word;
                    width: 100%;
                }
            }

            .edit_or_delete_comment_icon_wrapper {

                .edit_or_delete_popper {
                    background-color: white;
                    width: 150px;
                    box-shadow: 0px 0px 5px #000;
                    border-radius: 15px;
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    div {
                        padding: 5px;
                        border-radius: 15px;
                        cursor: pointer;

                        &:hover {
                            background-color: #cfcfcf;
                        }
                    }
                }

                .edit_or_delete_comment_icon {
                    cursor: pointer;
                    font-size: 20px;
                    color: $secondary-color;
                }
            }
        }

        .comment_content_bottom {
            font-size: 11px;
            font-weight: 500;
            display: flex;
            gap: 10px;
            margin-left: 10px;

            .active {
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .disabled {
                cursor: not-allowed;
                text-decoration: none;

                &:hover {
                    cursor: not-allowed;
                }
            }

            .focused {
                font-weight: 700;
                color: $secondary-color;
            }

            .likes_dislikes_wrapper {
                display: flex;
                gap: 3px;

                span {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .cancelEdit {
            font-size: .8rem;
            margin: 0px;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

.submitComment {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;

    textarea {
        width: 100%;
        resize: none;
        border-radius: 15px;
        outline: none;
        padding: 4px;
    }

    .submitCommentIcon {
        font-size: 30px;
        cursor: pointer;
    }
}

.sortWrapper {
    margin: 0 20px;

    .sort_holder {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: end;

        .sort_icon {
            color: $secondary-color;
        }
    }

    .sortButtonsWrapper {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 10px #000;
        padding: 5px;
        gap: 5px;
        border-radius: 15px;
        background-color: white;

        span {
            padding: 5px;
            border-radius: 15px;
            text-align: center;

            &:hover {
                background-color: #c9c9c9;
                cursor: pointer;
            }
        }
    }
}