.navbar_wrapper {
    display: flex;
    justify-content: end;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px #000;
    margin-bottom: 10px;

    .navbar_right {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}